<!doctype html>
<html lang="en">
<head>
	<title>{{ page.getPageTitle }}</title>
	<meta name="keywords" content="{{ page.getTags|join(', ') }}">
	<meta name="description" content="{{ page.getDescription }}">
</head>
<body>
<ul>
	{% for uri,title in breadCrumb %}
		<li{% if loop.last %} class="active"{% endif %}>
			<a href="{{ uri }}">{{ title }}</a>
		</li>
	{% endfor %}
</ul>

<hr>

{{ content|raw }}

</body>
</html>

